// Properties common across routes.
.route-content
  padding 0.5rem
  word-spacing 4px

  h4
    margin-bottom 0.4rem
    font-weight bolder
    font-size 1.2rem
    // text-decoration underline
    text-transform uppercase
    letter-spacing 2px